<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <form action="/get" method="GET">
        <h2>이름</h2>
        <input type="text" name="name" >
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="men"><label>남자</label>
            <input type="radio" name="gender" value="women"><label>여자</label>
        </fieldset>
        <fieldset>
            <legend>생년월일</legend>
                <select name="birth-year">
                    <% for(let i=2023; i>1900; i--){ %>
                        <option value="<%= i %>"> <%= i %> </option>
                    <% } %>
                </select>
                년
                <select name="birth-month">
                    <% for(let i=1; i<=12; i++){ %>
                        <option value="<%= i %>"> <%= i %> </option>
                    <% } %>
                </select>
                월
                <select name="birth-date">
                    <% for(let i=1; i<=31; i++){ %>
                        <option value="<%= i %>"> <%= i %> </option>
                    <% } %>
                </select>
                일
            </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="travel" id="travel"/>여행
            <input type="checkbox" name="fashion" id="fashion" />패션
            <input type="checkbox" name="food" id="food" />음식
        </fieldset>
        <fieldset>
            <legend>선택</legend>
        </fieldset>
        <button type="submit">회원가입</button>
    </form>


</body>
</html>

<% for(let i = 0; i <= 0;  i++) { %> 
    <option value="<%= i%>"><%= i %></option>
<% } %>