<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과 페이지</title>
</head>
<body>
    <img src="/<%= src%>" width="300px" height="200px"/>
    <h2><%=id%>환영합니다</h2>
    <h2>비밀번호:<%= pw%></h2>
    <h2>이름:<%= name%></h2>
    <h2>나이:<%= age%></h2>
    
</body>
</html>