<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <!-- axiosCDN 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- 실습 1번 axios(get) -->
    <form name="regis">
        <!-- 이름 -->
        이름 <input type="text" name="name" value="이름을 입력하세요" />
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender"  value="man"/><label for="man">남자</label>
            <input type="radio" name="gender" value="woman"  /><label for="woman">여자</label>
        </fieldset>
        <fieldset>
            <legend>생년 월일</legend>
            <select name="year" >
                <% for(let i = 1990; i <= 2023; i++){ %>
                <option value="<%= i  %>"><%= i%></option>
                <% }%>
            </select>년
            <select name="month" >
                <% for(let i = 1; i <= 12; i++){ %>
                <option value="<%= i  %>"><%= i%></option>
                <% }%>
            </select>월
            <select name="day" >
                <% for(let i = 1; i <= 31; i++){ %>
                <option value="<%= i  %>"><%= i%></option>
                <% }%>
            </select>일
        </fieldset>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby1" value="travel">
            <label for="hobby1">여행</label>
            <input type="checkbox" name="hobby2" value="fashion">
            <label for="hobby2">패션</label>
            <input type="checkbox" name="hobby3" value="food">
            <label for="hobby3">음식</label>
        </fieldset>
        <button type="button" onclick="join()">회원가입</button>
    </form>
    <h3 id="result"></h3>

    <form name="login">
        <fieldset>
            <legend>로그인 해라 이자식아</legend>
        <input type="text" name="id" required />
        <input type="password" name="pw" required />
        <button type="button" onclick="logIn()">LOGIN</button>
        </fieldset>
    </form>

    <script>
        // 실습 1번 =========
        function getData(){
            const form = document.forms["regis"];

            if(!form.checkValidity()){
                form.reportValidity();

                $("#result").html("올바르게 입력하세요");
                return false;
            }


            const data = {
               name: form.name.value,
               gender: form.gender.value,
               year: form.year.value,
               month: form.month.value,
               day:  form.day.value,
               hobby1: form.hobby1.value,
               hobby2: form.hobby2.value,
               hobby3: form.hobby3.value

            }

            return data;
        }

        function join(){
            const data = getData();
            if(!data) return;

            axios({
                method: "GET",
                url: "/axiosGet",
                params: data,

            }).then((res)=>{
                const{
                    name,
                    gender,
                    year,
                    month,
                    day,
                    hobby1,
                    hobby2,
                    hobby3
                } = res.data
                // console.log("res:", res);
                console.log("redData",res.data);
                
            })
        }
        // ================

        function testId(){
            
            const form = document.forms["login"];
        }

       async function login(){

        }
    </script>
</body>
</html>